<style>
    h3{  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: 1.42857143;
  color: #f8f8f8;
    }
  h4{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #f8f8f8;
  }
</style>
    <div class="about-section" id="about">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3>About Me</h3>
                    <h4>These days I can usually be found skiing, climbing or honing my writing skills in the small mountain ranges surrounding Montreal. But as soon as my math degree is complete, my real adventures will begin out west! </h4>
                    <h4>If you’re interested in collaborating, finding out more, or just catching up, feel free to contact me via any of the social media platforms below!</h4>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="images/meLake.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.about-section -->
    
    <div class="intro-header">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                    <hr class="intro-divider-long">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="/articles" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-folder-open"></i> <span class="network-name">Archive</span></a>
                        </li>
                        <li>
                            <a href="http://mcrwfrd.tumblr.com" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-tumblr"></i> <span class="network-name">Tumblr</span></a>
                        </li>
                         <li>
                            <a href="http://instagram.com/michaelcrwfrd" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-instagram"></i> <span class="network-name">Instagram</span></a>
                        </li>
                        <li>
                            <a href="http://twitter.com/michaelcrwfrd" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-twitter"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="mailto:mcrwfrd@gmail.com" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-envelope"></i> <span class="network-name">Email</span></a>
                        </li>
                    </ul>
            </div>
        </div>

    </div>
     <h4>&copy; {{ site.time | date: '%Y' }} By {{ site.owner.name }}</h4>


