<div class="push"></div>
  <footer>
    <aside class="wrap">
    
    
      <ol class="prev-posts">
        <p class="list-title" href="{{ site.url }}/articles">The Latest</p>
        {% for post in site.posts | limit:3 %} 
            <li>
              <span class="recent-title"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title | strip_html | strip_newlines | truncate: 30 }} </a></span>
              <span class="date">{{post.date | date: "%b %d, %Y" }}</span>
            </li>
        {% endfor %}
      </ol>
      
       <img border="0" src="/images/coverFigure.png" alt="Octahedron" class="center" width="200" height="200">
      
    
      <div class="social">
        <ul>
          
            <li><a href="{{ site.url }}/about"><span class="foot-link">About</span></a></li>

            <li><a href="{{ site.url }}/articles"><span class="foot-link">Articles</span></a></li>            

            <li><a id="mail" href="mailto:{{ site.owner.email }}"><span class="foot-link">Email</span></a></li>

          <!--
            {% if site.owner.twitter %}
            <li><a id="twit" href="http://twitter.com/{{ site.owner.twitter }}" target="_blank"><span class="foot-link">Twitter</span></a></li>
            {% endif %}
            
             {% if site.owner.github %}
            <li><a id="git" href="http://github.com/{{ site.owner.github }}" target="_blank"><span class="foot-link">Github</span></a></li>
            {% endif %}
            
            -->
            
          

            {% if site.owner.dribbble %}
            <li><a id="drib" href="http://dribbble.com/{{ site.owner.dribbble }}" target="_blank"><span class="foot-link">Dribbble</span></a></li>
            {% endif %}
        </ul>
    </div>
    
    </aside>
     <small>&copy; {{ site.time | date: '%Y' }} <a href="/"> By {{ site.owner.name }}</a>.</small>
  </footer>

  <!-- If they're out, get some from the cellar -->
  <script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="{{ site.url }}/assets/js/retina.min.js"></script>

  <!-- Custom JS -->
  <script src="{{ site.url }}/assets/js/scripts.js"></script>


  </body>
</html>
