{% include head-dark.html %}

    <div id='bump'>
        <section class="article archive">
          <article class="archive-wrap">
                <!-- <lh><h2><span class="bb">{{ page.title }}</span></h2></lh> -->
                 
                  <table class="intro2">
                  <tr>
                        <td height="80px" style="center">Archives</td>
                    </tr>
                    <tr>
                        <td height="40px" style="center">2014</td>
                    </tr>
                    </table>
                    
                    {% for post in site.posts %}
                    <p><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a> <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d" }}</time></p>
                    {% endfor %}
                     <!-- <td height="40px"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%Y" }}</time> </td>  
                     <td height="20px"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d" }}</time></td>
                     <td align="left"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></td>
                    </tr>
                    </p>-->
              
                  
                 
                 
                 <!--
                  {% for post in site.posts %}
                  <li>
                    <div class="intro 2" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                        <h1><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h1>
                        <p class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></p>
                        <p class="">{% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
                    </div>
                  </li>
                  {% endfor %}
              </ol>
              -->
          </article>
        </section>
    </div>

{% include footerHome.html %}
