{% include head-dark.html %}

<div id="bump">
  <body class="">
    <header class="site-header darken">
      <div class="wrap">
        <hgroup>
          <h1>I am a Mathematics and Physics Undergraduate at McGill University</h1>
          <h1>Learn more about me | connect with me | peruse my blog</h1>
        </hgroup>
       
       
        <img src="/images/coverFigure.png" width="228" height="228" class="center" /> 
      </div>
    </header>


    <div id='bump'>
        <section class="">
            <article class="archive-wrap">
             <p class="intro">
                I am a Mathematics and Physics Undergraduate at McGill University.  
                </p>
                <p class="intro">
                Learn more about me | Connect | Peruse my blog
                </p>
                <p class="intro">
                Foo1
                </p>
                <p class="intro">
                Foo2
                </p>
   

                <img src="/images/coverFigure.png" width="228" height="228" class="center" /> 
             </article>
        </section>
    </div>

    <!--
    <article class="wrap post">
        <header class="post-header">
          <hgroup>
          <img src="/images/coverFigure.png" width="228" height="228" class="center" />
            <p class="intro">
                Foo
            </p>
          </hgroup>
        </header>
        -->

{% include footerShort.html %}
