 <!DOCTYPE html>
 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57858469-1', 'auto');
  ga('send', 'pageview');

</script>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/mcrwfrd/mcrwfrd.github.io/master/assets/css/landing-page.css">
<link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/mcrwfrd/mcrwfrd.github.io/master/assets/css/bootstrap.css">

<title>Michael Crawford</title> 

{% include landing.html %}
{% include js.html %} 


<!--
<html>
 {% include landing.html %}
<body>
{% include js.html %}
</body>
</html>

-->
