{% include head-dark.html %}




    <div id='bump'>
        
          <body>
            <p>I am a mathematics and physics undergraduate at mcgill uni</p>
             
   

                <img src="/images/coverFigure.png" width="228" height="228" class="center" /> 
             
      </body>
    </div>

   <!-- 
    <article class="wrap post">
        <header class="post-header">
          <hgroup>
          <img src="/images/coverFigure.png" width="228" height="228" class="center" />
            <p class="intro">
                Foo
            </p>
          </hgroup>
        </header>
        -->

{% include footerShort.html %}
