<div class="push"></div>
  <footer>
  
  <div class="social">
    <p1 align="center">
      
      <a id="mail" href="mailto:{{ site.owner.email }}"><span class="foot-link">Shoot me an Email</span></a></li> |

      <a id="twit" href="http://twitter.com/{{ site.owner.twitter }}" target="_blank"><span class="foot-link">Twitter</span></a></li>
    
    </p1>  
    
  </div>
   
  
  </footer>

  <!-- If they're out, get some from the cellar -->
  <script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="{{ site.url }}/assets/js/retina.min.js"></script>

  <!-- Custom JS -->
  <script src="{{ site.url }}/assets/js/scripts.js"></script>

</html>
